.topVBox {
	-fx-background-color: white;
}

.leftVBox {
	-fx-background-color:  #d3d3d3;
}

.topLabel {
	-fx-font-weight: bold;
	-fx-text-fill: #004b88;
	-fx-font-family: "Arial";
	-fx-font-size: 48px;
}

#buttonClass {
	-fx-background-color: #cccccc;
	-fx-background-radius: 20%;
	-fx-text-fill: black;
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	-fx-cursor: hand;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0, 0, 3);
}

#buttonClass:hover {
	-fx-background-color: #b3b3b3;
}

.centerHBox {
	-fx-background-color: rgba(26,26,26,0.68);
	-fx-border-radius: 10px;
	-fx-padding: 20px;
}

.tableView {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-border-radius: 15;
	-fx-background-radius: 15;
	-fx-padding: 10;
	-fx-border-color: #cccccc;
	-fx-border-width: 1;
}

.tableView .column-header {
	-fx-background-color: #004a99;
	-fx-border-radius: 15 15 0 0;
	-fx-background-radius: 0;
	-fx-padding: 0 10 0 10;
}

.tableView .column-header .label {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-background-color: transparent;
	-fx-alignment: center;
	-fx-font-size: 16px;
}

.tableView .table-row-cell {
	-fx-background-color: white;
	-fx-border-color: transparent transparent #dddddd transparent;
	-fx-border-width: 0 0 1 0;
	-fx-padding: 10px;
}

.tableView .table-cell {
	-fx-padding: 8px;
	-fx-text-fill: #333333;
	-fx-font-size: 16px;
}

.tableView .table-row-cell:filled:selected, .tableView .table-row-cell:focused:selected {
	-fx-background-color: #cce5ff;
}

.tableView .filler {
	-fx-background-color: transparent;
}

.leftUserLabel {
	-fx-text-fill: black;
	-fx-font: 14px "Arial";
	-fx-font-weight: bold;
	-fx-font-size: 18px;
	-fx-alignment: center;
	-fx-text-alignment: center;
}

#centerButton {
	-fx-background-color: #cccccc;
	-fx-background-radius: 10%;
	-fx-text-fill: black;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-cursor: hand;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 6, 0, 0, 3);
}

#centerButton:hover {
	-fx-background-color: #b3b3b3;
}

#editButton {
	-fx-font-size: 18px;
}